@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto:400,500');
/* CSS Document */
/*@import url('https://fonts.googleapis.com/css?family=Krona+One|Raleway');*/
/*tres tipos de selectores:
    -de etiqueta.
    -de clase.
    -de id(más particular).
elemento-
-selector de clase.
-selector de id.
NUEVOCAMBIO_DESDE_CASA
*/
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Anton', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
.display-4, {
    color: #c40050;
}

textoruta{
    color: white;
}
.carousel, .carousel-inner > .carousel-item > img {
    height: 100%;
    width: 100%;
  }
  .contenedor{
    height:100%;
    width: 100%;
  }
  .portada{
    background-image: url('../images/yucatan_header_0.jpg');
    margin-top: 24px;
}
.titulodecolumnas {
    color: #c40050;
    margin-bottom: 24px;
    margin-top: 24px;
    font-size: 50px;
    text-align: center;
    text-decoration-line: underline;

}
.cartas, .ruta{
    margin-top:50px;
}
.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 2;
    text-align: center;
    padding-right: 400px;
    padding-left: 400px;
}
.periodico {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 4;
    text-align: center;
}